.lista {
    position: sticky;
    top: 10px;
}

.footer {
    height: fit-content;
    color: white;
}

.anchor {
    text-decoration: none;
    color: white;
}

.anchor:hover {
    color: yellow;
    cursor: pointer;
    transition: 0.5s;
}